___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [8]:
def lesser_of_two_evens(a,b):
    if b % 2 == 0 and a % 2 == 0:
        return a if a < b else b
        #return min(a,b)
    
    else:
        return b if b > a else a
        #return max(a,b)
    
    pass

min(10,20)

In [9]:
# Check
lesser_of_two_evens(2,4)

2

In [10]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [15]:
def animal_crackers(text):
    text_list = text.split()
    
    
    if not text_list:
        return False
    
    first_letter = text_list[0][0]
    
    for word in text_list[1:]:
        if word[0] != first_letter:
            return False
            
    return True
    pass

def animal_crackers(text):
    wordlist = text.split()
    #wordlist = text.lower().split()如果第二个词的第一个字母是小写
    #print(wordlist)
    
    first = wordlist[0]
    second = wordlist[1]
    
    return first[0] == second[0]

def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [16]:
# Check
animal_crackers('Levelheaded Llama')

True

In [17]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [25]:
def makes_twenty(n1,n2):
    
    if (n1+n2) == 20:
        return True
    elif n1 == 20 or n2 ==20:
        return True
    else:
        return False
    pass

def makes_twenty(n1,n2):
    return (n1+n2) == 20 or n1==20 or n2==20

In [26]:
# Check
makes_twenty(20,10)

True

In [27]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [32]:
def old_macdonald(name):
    #if len(name) < 4:
        #return name.capitalize()
    first_part = name[:3].capitalize()
    last_part = name[3:].capitalize()
    return first_part + last_part
    pass

In [33]:
# Check
old_macdonald('macdonald')

'MacDonald'

def old_macdonald(name):
    first_letter  = name[0]
    inbetween = name [1:3]
    fourth_letter = name [3]
    rest = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter + rest

old_macdonald('macdonald')

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [41]:
def master_yoda(text):
    new_text = text.split()
    reverse_sentence = " ".join(reversed(new_text))
    return reverse_sentence
    pass

In [42]:
# Check
master_yoda('I am home')

'home am I'

In [43]:
# Check
master_yoda('We are ready')

'ready are We'

In [100]:
mylist= ['a','b','c']

In [101]:
'--'.join(mylist)

'a--b--c'

In [102]:
''.join(mylist)

'abc'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [44]:
def almost_there(n):
    if n in range(90,111):
        return True
    elif n in range(190,211):
        return True
    else:
        return False
    pass

In [45]:
# Check
almost_there(104)

True

In [46]:
# Check
almost_there(150)

False

In [47]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [48]:
def has_33(nums):
    for i in range(len(nums) - 1):
        if nums[i] ==3 and nums[i+1] ==3:
            return True
    else:
        return False
        
    pass

In [49]:
# Check
has_33([1, 3, 3])

True

In [50]:
# Check
has_33([1, 3, 1, 3])

False

In [51]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [85]:
def paper_doll(text):
    result = ''
    for word in text.split():
        for letter in word:
            result += letter * 3 
        return result
    pass

In [86]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [87]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [89]:
def blackjack(a,b,c):
    if a+b+c <= 21:
        return a+b+c
    elif a+b+c > 21 and a == 11 or b == 11 or c==11:
        return (a+b+c) -10
    elif a+b+c > 21:
        return "BUST"
    
    pass

In [90]:
# Check
blackjack(5,6,7)

18

In [91]:
# Check
blackjack(9,9,9)

'BUST'

In [92]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [93]:
def summer_69(arr):
    total_sum = 0
    skip_section = False
    
    for num in arr:
        if num == 6:
            skip_section = True
        elif num ==9:
            skip_section = False
        elif not skip_section:
            total_sum += num
    return total_sum
    pass

In [94]:
# Check
summer_69([1, 3, 5])

9

In [95]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [96]:
# Check
summer_69([2, 1, 6, 9, 11])

14

## Great Job!